psycopg2-binary
pymysql
cryptography
python-dotenv
fastapi
uvicorn[standard]
twilio
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
werkzeug
pytz
httpx
python-multipart
qrcode[pil]
pillow
